<?xml version="1.0"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="idk-bro" version="3.0">

	<servlet>
		<servlet-name>My Servlet</servlet-name>
		<servlet-class>very.secure.com.App</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>My Servlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>log4jContextName</param-name>
		<param-value>log4jContext</param-value>
	</context-param>
</web-app>
