block variables
 - var selected = "Home"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    title Web Development Courses app: #{title}
  body
    div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      h5.my-0.mr-md-auto.font-weight-normal
        a(href="/", title="Expresso") DragonSec SI
      nav.my-2.my-md-0.mr-md-3
        if user == undefined
          a.p-2.text-dark(href="/users/login") Log In
          a.p-2.text-dark(href="/users/register") Register

        else
          if user.name
            a.p-2.text-dark Welcome <strong>#{user.name}</strong>
            a.p-2.text-dark(href="/courses") Courses
            a.p-2.text-dark(href="/users/login") Logout
    .container
      block content

    footer.
      Built with #[a(href="https://expressjs.com/") Express.js], login powered by #[a(href="https://www.mongodb.com/") Mongodb]
