extends layout

block content
  div: form(method='POST', class='form-vertical', action='/users/login')
    fieldset
      legend: strong.text-info Login Area

      if message
        if message.error
          div.alert.alert-danger #{message.error}
        else
          div.alert.alert-success #{message.success}

      div.form-group
        label Username
        input.form-control(name='name', value='admin', autofocus, placeholder='Username')

      div.form-group
        label Password
        input.form-control(name='password', type='password', placeholder='Password')

      div.form-actions
        input.btn.btn-primary.btn-block(type='submit', value='Login')
