.top-bar a {
    text-decoration: none;
    color: inherit;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-top: 4em !important;
    padding-top: 1em;
    text-align: center;
    margin-top: 1em;
}

h2 {
    margin-bottom: 2em;
}

.container {
    padding-top: 2em;
}